body {
    margin: 0 auto;
    
    font-size: 28px;
    
    background: url(../img/winx.jpg);
}

h2 {
    font-size: 32px;
}

.container {
    margin: 20px auto;
    padding: 20px 0;
    width: 70%;
    border-radius: 4px;
    
    background-color: #dcecf5;
}

.mine-img {
    width: 50%;
}

.generator {
    text-align: center;
}

.math__item__input {
    margin: 12px 0;
    width: 25%;
}

.gen__btn {
    text-decoration: none;
    background: red;
    color: white;
    width: 40%;
    font-size: 20px;
    padding: 7px;
    border-radius: 7px;
    transition: .2s linear;
}

.gen__btn:hover {
    background: #ff5e5e;
}

.invis {
    display: none;
}

.gen__images {
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    display: flex;
}

.gen__img {
    width: 33.33333%;
}

.meme__img {
    width: 100%;
    height: 400px;
}


.link__vk {
    font-size: 16px;
    color: grey;
}












